<footer>
   <h1>Footer</h1>
</footer>
<script>
   const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
         if (entry.isIntersecting) {
            entry.target.classList.add("show");
         }
      });
   });

   const hiddenElements = document.querySelectorAll(".hidden");
   hiddenElements.forEach((el) => observer.observe(el));

   // error message showing

   //page loader
   window.addEventListener("load", () => {
      document.querySelector("#js-preloader").classList.add("loaded");
   });

   //sticky navbar
   window.addEventListener("scroll", (e) => {
      if (window.scrollY >= 80) {
         document.querySelector("header nav").classList.add("back");
         document.querySelector(".secNav").classList.add("toTop");
      } else if (window.scrollY < 80) {
         document.querySelector("header nav").classList.remove("back");
         document.querySelector(".secNav").classList.remove("toTop");
      }
   });

   const showSecNav = document.querySelector(".navIcon");
   let flage = 0;
   showSecNav.addEventListener("click", () => {
      document.querySelector(".secNav").classList.toggle("open");
      let icon = document.querySelector(".navIcon i");
      if (icon.className == "ri-menu-line") {
         icon.classList = "ri-close-line";
      } else if (icon.classList == "ri-close-line") {
         icon.classList = "ri-menu-line";
      }
   });
</script>
