<div id="js-preloader" class="js-preloader">
   <div class="sound-wave">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
   </div>
</div>
<header>
   <nav class="">
      <div class="logo hidden">
         <img src="/images/mw logo.png" alt="" />
      </div>
      <div class="items hidden">
         <ul>
            <div class="li">
               <i class="ri-home-6-line"></i>
               <li>
                  <a href="/"> Home</a>
               </li>
            </div>
            <div class="li">
               <i class="ri-sticky-note-line"></i>
               <li>
                  <a href="/Notes"> Notes</a>
               </li>
            </div>
            <div class="li">
               <i class="ri-article-line"></i>
               <li>
                  <a href="./PastYearPapers/SelPaper.html"> Papers</a>
               </li>
            </div>
            <div class="li">
               <i class="ri-news-line"></i>
               <li>
                  <a href="/Blogs"> Blogs</a>
               </li>
            </div>
            <div class="li">
               <i class="ri-user-search-line"></i>
               <li>
                  <a href="./Others/A&C.html"> About Me</a>
               </li>
            </div>
         </ul>
      </div>
      <div class="navIcon">
         <i class="ri-menu-line"></i>
      </div>
      <% if (user) {%>
      <a href="/profile"
         ><button class="pdb">
            <small>Hi,<%= user.username %></small>
         </button></a
      >
      <% } else{ %>
      <a href="/login" class="asd">
         <button class="acc">
            <i class="ri-account-pin-circle-line"></i>
            <small>Account</small>
         </button>
      </a>
      <%} %>
   </nav>
</header>
<div class="secNav">
   <ul>
      <div>
         <li><i class="ri-home-6-line"></i> <a href="/"> Home</a></li>
      </div>
      <div>
         <li><i class="ri-sticky-note-line"></i><a href="/Notes"> Notes</a></li>
      </div>
      <div>
         <li>
            <i class="ri-article-line"></i>
            <a href="./PastYearPapers/SelPaper.html"> Papers</a>
         </li>
      </div>
      <div>
         <li>
            <i class="ri-news-line"></i>
            <a href="./Blogs/mainBlog.html"> Blogs</a>
         </li>
      </div>
      <div>
         <li>
            <i class="ri-user-search-line"></i>
            <a href="./Others/A&C.html"> About Me</a>
         </li>
      </div>
   </ul>
</div>
