<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./partials/head.ejs %>
      <link rel="stylesheet" href="/stylesheets/AllNotesCss.css" />
   </head>
   <body>
      <% include ./partials/navbar.ejs %>
      <div class="mainNotesSec" style="margin-top: 70px">
         <div class="notesleft">
            <h1>Twelfth Class All<span> Subject Notes</span></h1>
            <p style="text-transform: capitalize">
               These Notes are including Physics, Chemistry, Biology, Urdu,
               Pakistan studies, Computer Science, English Grammar, Islamite,
               and other Science or Arts Subjects, short question, long
               question, letters, stories and many more.
            </p>
            <a href="#SelectSub" class="cs"><button>Select Subject</button></a>
         </div>
         <div class="notesright">
            <img
               src="/images/ninth-class-notes.png"
               alt=""
               class="notesLeftImg"
            />
         </div>
      </div>

      <div class="subjectSec">
         <div class="mainContent">
            <div class="subjectText" id="SelectSub">
               <h1>KPK Boards <span>Twelfth Class</span> All Subjects Notes</h1>
               <p>
                  For all KPK students who are looking to quickly learn or
                  prepare for all subjects, we offer notes available in both
                  English and Urdu medium. Additionally, you can find 12th class
                  solved previous years' past papers on our website. Solved Easy
                  notes for XII class chapter-wise are freely available on
                  MashalWeb for learning purposes. We understand that many
                  students want concise notes for all chapters, so we provide
                  notes according to your specific requirements.
               </p>
            </div>
            <div class="subjectSelect">
               <h2>Select Your Subject</h2>
               <div class="subjectBoxs">
                  
                     <div class="sinSubBox">
                        <h4>English</h4>
                        <img src="/images/English.png" alt="" />
                     </div>

                     <div class="sinSubBox">
                        <h4>Urdu</h4>
                        <img src="/images/URDU.png" alt="" />
                     </div>
                  <div class="sinSubBox">
                     <h4>Islamyat</h4>
                     <img src="/images/Islamiat.png" alt="" />
                  </div>
                  <div class="sinSubBox">
                     <h4>Pakstudy</h4>
                     <img src="/images/Pak-Study.png" alt="" />
                  </div>
                  <div class="sinSubBox">
                     <h4>Computer</h4>
                     <img src="/images/Computer.png" alt="" />
                  </div>
                  <div class="sinSubBox">
                     <h4>Physics</h4>
                     <img src="/images/Physics.png" alt="" />
                  </div>
                  <div class="sinSubBox">
                     <h4>Chemistry</h4>
                     <img src="/images/Chemistry.png" alt="" />
                  </div>
                  <div class="sinSubBox">
                     <h4>Biology</h4>
                     <img src="/images/Biology.png" alt="" />
                  </div>
                  <div class="sinSubBox">
                     <h4>Maths</h4>
                     <img src="/images/Mathematics.png" alt="" />
                  </div>
               </div>
            </div>
            <div class="subjectText down">
               <p>
                  You can download Twelfth Class Notes on this website based on
                  your study group's requirements. If your syllabus is in
                  English Medium, you can download the notes in URDU Language,
                  and if you're an English Medium student, you can get the notes
                  in the English Language with the latest syllabus updates. We
                  understand that many students want concise notes for all
                  chapters, so we provide notes according to your specific
                  requirements.
               </p>
            </div>
            <div class="subjectText down">
               <p>
                  Mostly in Twelfth class chapter wise Multiple Choice question
                  answers are repeated. So, You need to learn 11th Class All
                  Subject MCQs for your exams better preparations. If you will
                  learn online multiple Choice MCQs quizzes on MashalWeb then
                  this will be great for getting high marks in exams. Learn
                  online chapter wise all other subjects’ notes on this website.
                  Short and Long Question Answers of All Twelfth Class Subject
                  Notes with exercise MCQs also.
               </p>
            </div>
         </div>
         <div class="subjectSidebar">
            <div class="sidepart">
               <h3>More Page</h3>
               <div class="pagesdiv">
                  <a href="/Notes/KPK-Boards-Ninth-Class-Notes">
                     <h4>Ninth Class All Subject Notes</h4>
                  </a>
                  <a href="/Notes/KPK-Boards-Tenth-Class-Notes">
                     <h4>Tenth Class All Subject Notes</h4>
                  </a>
                  <a href="/Notes/KPK-Boards-Eleventh-Class-Notes">
                     <h4>Eleventh Class All Subject Notes</h4>
                  </a>
               </div>
            </div>
            <div class="sidepart">
               <h3>Get In Touch</h3>
               <div class="linksDiv">
                  <a href="#">
                     <i class="ri-facebook-circle-fill"></i>
                     <h4>Mashal Horara</h4>
                  </a>
                  <a href="#">
                     <i class="ri-whatsapp-line"></i>
                     <h4>+92 3471309916</h4>
                  </a>
                  <a href="#">
                     <i class="ri-mail-send-fill"></i>
                     <h4>itsmashal2006@gmail.com</h4>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <% include ./partials/comments.ejs %> 
      <% include ./partials/footer.ejs %>
   </body>
</html>
