<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>MASHAL HURAIRA</title>
      <link
         href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="/stylesheets/A&C.css" />
      <style>
         .experBox p {
            font-weight: 300;
         }
      </style>
   </head>

   <body>
      <nav>
         <div class="logo">
            <a href="./A&C.html"><img src="../images/MH logo.png" alt="" /></a>
         </div>

         <div class="items">
            <ul>
               <li>
                  <a href="#intro"
                     ><i class="ri-user-3-fill"></i> Introduction</a
                  >
               </li>
               <li>
                  <a href="#skill"><i class="ri-brain-line"></i> Skills</a>
               </li>
               <li>
                  <a href="#Services"
                     ><i class="ri-customer-service-fill"></i> Services</a
                  >
               </li>
               <li>
                  <a href="#projects"
                     ><i class="ri-codepen-fill"></i> Projects</a
                  >
               </li>
               <li>
                  <a href="#contact"
                     ><i class="ri-contacts-fill"></i> Contact</a
                  >
               </li>
            </ul>
         </div>

         <div class="socIcons">
            <i class="ri-facebook-fill"></i>
            <i class="ri-phone-fill"></i>
            <i class="ri-mail-fill"></i>
         </div>
         <img src="../images/respNavImg.png" alt="" class="resMenu" />
      </nav>
      <div class="secNav">
         <ul>
            <li>
               <a href="#intro"><i class="ri-user-3-fill"></i> Introduction</a>
            </li>
            <li>
               <a href="#skill"><i class="ri-brain-line"></i> Skills</a>
            </li>
            <li>
               <a href="#Services"
                  ><i class="ri-customer-service-fill"></i> Services</a
               >
            </li>
            <li>
               <a href="#projects"><i class="ri-codepen-fill"></i> Projects</a>
            </li>
            <li>
               <a href="#contact"><i class="ri-contacts-fill"></i> Contact</a>
            </li>
         </ul>

         <a href="./A&C.html"
            ><img src="../images/MH logo.png" alt="" class="secLogo"
         /></a>
         <img src="../images/close.png" alt="" class="closeSecNav" />
      </div>
      <section class="mainHeroSec">
         <div class="left">
            <div class="headings">
               <h4>Hello, Its Me</h4>
               <h1><span>MASHAL</span> HURAIRA</h1>
               <h3>And I AM <span>Fronted & Backend </span>Developer</h3>
               <p>
                  I am Mashal Huraira and I am frontend, Backend web developer
                  Since 1 year, and I can create fronted & Backend designs and
                  many More…
               </p>
            </div>
            <div class="socIcons">
               <i class="ri-facebook-circle-fill"></i>
               <i class="ri-whatsapp-fill"></i>
               <i class="ri-discuss-fill"></i>
               <i class="ri-instagram-fill"></i>
            </div>
            <a
               href="https://drive.google.com/file/d/1xtXySS3SE1fsBMORsIC8fIipP1F4VZwu/view?usp=sharing"
               class="btn"
               ><button>
                  Download CV <i class="ri-download-cloud-2-fill"></i></button
            ></a>
         </div>

         <div class="right">
            <img src="/images/AboutUS.png" alt="" />
         </div>
      </section>

      <section class="careerObjective" id="intro">
         <div class="carText">
            <h1><span>CAREER</span> OBJECTIVES</h1>
            <p>
               I am seeking a challenging job that utilizes my work experience
               and qualifications. I am looking for an opportunity that allows
               me to enhance my skills and facilitates my personal growth. I am
               confident that I will be able to fulfill my duties in accordance
               with the requirements of the organization.
            </p>
            <a href="#" class="btn"
               ><button>
                  See More <i class="ri-arrow-right-circle-fill"></i></button
            ></a>
         </div>
         <div class="carImg">
            <img src="../images/image001.png" alt="" />
         </div>
      </section>

      <section class="skillsSec" id="skill">
         <div class="headingSec">
            <h1><span>SKILLS &</span> EXPERIENCE</h1>
         </div>
         <div class="main">
            <div class="skills">
               <div class="heading">
                  <h2>MY SKILLS</h2>
               </div>

               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/html.svg" alt="" />
                     <p>HTML</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span><small>96%</small></span>
                     </div>
                  </div>
               </div>

               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/css.svg" alt="" />
                     <p>CSS</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span class="two"><small>83%</small></span>
                     </div>
                  </div>
               </div>

               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/javascript.svg" alt="" />
                     <p>JavaScript</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span class="three"><small>85%</small></span>
                     </div>
                  </div>
               </div>

               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/database.svg" alt="" />
                     <p>Data Entry</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span class="four"><small>96%</small></span>
                     </div>
                  </div>
               </div>

               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/word.svg" alt="" />
                     <p>MS Office Programs</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span class="five"><small>95%</small></span>
                     </div>
                  </div>
               </div>

               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/figma.svg" alt="" />
                     <p>Graphics Designing</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span class="six"><small>65%</small></span>
                     </div>
                  </div>
               </div>
               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/nodejs.svg" alt="" />
                     <p>Node JS</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span class="seven"><small>78%</small></span>
                     </div>
                  </div>
               </div>
               <div class="skillBox">
                  <div class="text-img">
                     <img src="../images/folder-database-open.svg" alt="" />
                     <p>MongoDB / Mongoose</p>
                  </div>
                  <div class="lineBar">
                     <div>
                        <span class="eight"><small>58%</small></span>
                     </div>
                  </div>
               </div>
            </div>

            <div class="exper">
               <div class="heading">
                  <h2>EXPERIENCE</h2>
               </div>

               <div class="experBox">
                  <h3>HTML, CSS, JavaScript</h3>
                  <p>
                     With one year of experience coding in HTML, CSS, and
                     JavaScript, I am capable of designing front-end and
                     mini-back-end according to client requirements.
                  </p>
               </div>

               <div class="experBox">
                  <h3>Data Entry</h3>
                  <p>
                     With my fast typing skills, I can efficiently write and
                     update various types of data in documents such as docx and
                     excel.
                  </p>
               </div>

               <div class="experBox">
                  <h3>MS Office Programs</h3>
                  <p>
                     With two years of experience in MS Office programs
                     including Word, Excel, and PowerPoint, I am proficient in
                     creating and updating various types of data..
                  </p>
               </div>

               <div class="experBox">
                  <h3>Graphics Designing</h3>
                  <p>
                     With one year of experience using Adobe Photoshop,
                     CorelDRAW, and other tools, I can create UI/UX designs,
                     logos, advertising banners, and much more.
                  </p>
               </div>
            </div>
         </div>
      </section>

      <section class="myServices" id="Services">
         <div class="headingSec">
            <h1>MY <span>SERVICES</span></h1>
         </div>
         <div class="serMain">
            <div class="serviceBox">
               <img src="../images/serFrontend.png" alt="" />
               <h3>Fronted Development</h3>
               <p>
                  Create user-friendly websites and beautiful frontend designs
                  tailored to client requirements, while staying up-to-date with
                  current design trends.
               </p>
               <button>
                  See More..<i class="ri-arrow-right-circle-fill"></i>
               </button>
            </div>
            <div class="serviceBox">
               <img
                  src="../images/serDataEntry.png"
                  alt=""
                  style="width: 130px"
               />
               <h3>Data Entry</h3>
               <p>
                  I have extensive knowledge and experience in using Microsoft
                  Office programs, particularly Excel and Word. Therefore, I can
                  efficiently organize your data into different documents.
               </p>
               <button>
                  See More..<i class="ri-arrow-right-circle-fill"></i>
               </button>
            </div>
            <div class="serviceBox">
               <img src="../images/serDesign.png" alt="" />
               <h3>Office Work</h3>
               <p>
                  With my fast typing speed and expertise in MS Office programs
                  like Word, Excel, and PowerPoint, I am proficient in creating
                  and updating various types of data.
               </p>
               <button>
                  See More..<i class="ri-arrow-right-circle-fill"></i>
               </button>
            </div>
         </div>
      </section>
      <section class="projectHeading">
         <div class="headingSec">
            <h1>MY <span> PROJECTS</span></h1>
         </div>
      </section>
      <section class="careerObjective" id="projects" style="padding-top: 30px">
         <div class="carText" style="order: 0">
            <h1>All <span>Projects</span></h1>
            <p>
               In my free time, I create beautiful UI/UX designs and mini web
               applications. You can view my entire portfolio by clicking the
               button below.and mini web app.
            </p>
            <a href="#" class="btn"
               ><button>
                  View All <i class="ri-arrow-right-circle-fill"></i></button
            ></a>
         </div>
         <div class="carImg">
            <img src="../images/projectImg.png" alt="" />
         </div>
      </section>

      <section class="contact" id="contact">
         <div class="contact-text">
            <div class="txt">
               <h1>Let's Talk <span>Togather</span></h1>
               <p>
                  I have the necessary skills and work experience to provide
                  high-quality services to our clients. If you require any
                  assistance from me, please feel free to contact me via the
                  contact form. Once I receive your message, I will respond to
                  you promptly using the email address you provide.
               </p>
            </div>
            <div class="icon-text">
               <i class="ri-phone-fill"></i>
               <small>Phone: +92 3471309916</small>
            </div>
            <div class="icon-text">
               <i class="ri-mail-fill"></i>
               <small>Email: itsmashal2006@gmail.com</small>
            </div>
            <div class="socIcons">
               <i class="ri-facebook-circle-fill"></i>
               <i class="ri-whatsapp-fill"></i>
               <i class="ri-discuss-fill"></i>
               <i class="ri-instagram-fill"></i>
            </div>
         </div>
         <div class="contact-form">
            <form>
               <input
                  type="text"
                  name="name"
                  id="UserName"
                  placeholder="Your Name..."
                  required="required"
                  autocapitalize="on"
                  autocomplete="name"
               />
               <input
                  type="email"
                  name="Email"
                  id="UserEmail"
                  placeholder="Your Email..."
                  required="required"
                  autocomplete="email"
               />
               <textarea
                  name="message"
                  id="userMessage"
                  required="required"
                  placeholder="Write Your Message Here.."
               ></textarea>
               <button type="submit" onclick="sendmessage()">
                  Send <i class="ri-send-plane-fill"></i>
               </button>
            </form>
         </div>
      </section>

      <footer>
         <p>Develop With Love By <span>MASHAL HURAIRA</span> © 2024</p>
         <hr />
      </footer>
   </body>
   <script>
      // ==== NavBar ====

      const closeNav = document.querySelector(".closeSecNav");
      const openNav = document.querySelector(".resMenu");
      const navBar = document.querySelector(".secNav");
      openNav.addEventListener("click", () => {
         navBar.style.display = "flex";
      });
      closeNav.addEventListener("click", () => {
         navBar.style.display = "none";
      });
      let lielem = Array.from(navBar.children[0].children);
      lielem.forEach((li) => {
         li.addEventListener("click", (e) => {
            // user click on 'a' element, responsive navbar will closed redirect with clicked 'a' element

            navBar.style.display = "none";
         });
      });

      // ==== Form Validation ====
   </script>
</html>
