<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./partials/head.ejs %>
      <link rel="stylesheet" href="/stylesheets/indexFileCss.css" />
      <meta
         name="description"
         content="Mashal Web Provide All Classes Chapter Wise Notes for 9th, 10th, 11th and 12th classes of Long Questions, Short Questions, MCQs, Letters, Applications, Grammer, Solved Numerical Problems Past Year Papers and Latest new related to the education and technology."
      />
      <meta http-equiv="Content-Type" content="text/html" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta
         name="keywords"
         content="Mashalweb, Mashal Web, mashal web, 9th class notes, ninth class notes, 10th class notes, tenth class notes, 11th class notes, 1st year notes, eleventh class notes,12th class notes, 2st year notes, twelfth class notes, FSC part 1 notes, FSC part 2 notes, malakand board past year paper, malakand board 9th class notes, latest new, latest malakand board news, latest educational new"
      />
      <meta name="language" content="english" />
      <meta name="author" content="Mashal Horara" />
      <meta name="expires" content="never" />
      <meta name="copyright" content="MashalWeb" />
      <meta property="og:site_name" content="Mashal Web" />
      <meta property="og:url" content="http://localhost:4000/" />
   </head>
   <body>
      <% include ./partials/navbar.ejs %>
      <section class="mainSection">
         <div class="textSection">
            <div class="heading hidden">
               <h1>
                  Lighting the Way, Explore <span>MASHAL WEB</span> for a
                  Brighter Online Experience.
               </h1>
            </div>
            <div class="buttons hidden">
               <a href="/Notes"
                  ><button type="button">Checkout Notes</button></a
               >
               <a href="/Notes"><button type="button">Our Blogs</button></a>
            </div>
         </div>
         <div class="imageSec hidden">
            <img src="./images/HeroSecImg.png" alt="" />
         </div>
         <img class="bottomImg hidden" src="./images/DotsLayer.png" alt="" />
      </section>
      <div class="boxs">
         <div class="center">
            <div class="box hidden" style="margin-top: 10px">
               <a href="./ChapterWiseNotes/notes.html"
                  ><img src="./images/Books.png"
               /></a>
               <span>Notes</span>
            </div>
            <div class="box hidden" style="margin-top: 10px">
               <a href="./PastYearPapers/SelPaper.html"
                  ><img src="./images/Paper.png"
               /></a>
               <span>Papers</span>
            </div>
            <div class="box hidden" style="margin-top: 10px">
               <a href="./Blogs/mainBlog.html">
                  <img src="./images/News.png" />
               </a>
               <span>News</span>
            </div>
            <div class="box hidden" style="margin-top: 10px">
               <a href="#"><img src="./images/Software.png" /></a>
               <span>Softwares</span>
            </div>
         </div>
      </div>
      <section class="goals">
         <div class="top-head hidden">
            <p>Our Goals</p>
            <h1>OUR GOALS</h1>
         </div>
         <div class="goalsMain">
            <div class="goalsText hidden">
               <p>
                  Now a Days, there are a lot of costly books and notes that are
                  available in the market. Not all students can afford to buy
                  all of them. Therefore, we offer free chapter-wise notes and
                  past year papers in PDF format to students and teachers from
                  the ninth to eleventh grade.
               </p>
            </div>
            <div class="goalsImg hidden">
               <img src="./images/GoalsImgPink.png" class="hidden" alt="" />
            </div>
         </div>
      </section>
      <section class="services">
         <div class="main-conatiner">
            <div class="top-head hidden">
               <p>Our Features</p>
               <h1>FEATURES</h1>
            </div>
            <div class="branch-container">
               <div class="branch-content hidden">
                  <h2>What We Provide</h2>
                  <p>
                     We offer chapter-wise notes and past papers for students
                     for grades Ninth through twelfth. You can download them in
                     both PDF (.pdf) and document (.docx) formats, free of cost.
                     Additionally, we provide the latest updates on technology,
                     entertainment, and education news. Please note that the
                     past papers we provide are only valid for KPK BOARDS.
                  </p>
                  <button class="See More" style="color: #000000">
                     <a
                        href="./ChapterWiseNotes/notes.html"
                        style="text-decoration: none"
                        >See More</a
                     >
                  </button>
               </div>
               <div class="branch-img hidden">
                  <img src="./images/ServiceImg1.png" alt="" />
               </div>
            </div>
            <div class="branch-container">
               <div class="branch-img hidden">
                  <img src="./images/ChapWiseImg.png" alt="" id="orde" />
               </div>
               <div class="branch-content hidden" id="ordew">
                  <h2>See Chapter Wise Notes</h2>
                  <p>
                     Get your 9th to 12th Class KPK Board All Subjects Notes
                     here! Download chapter-wise solved PDF notes for all
                     subjects according to the latest syllabus. These notes are
                     from Khyber Pakhtunkhwa Boards and can be easily
                     downloaded.
                  </p>
                  <button class="See More">
                     <a
                        href="./ChapterWiseNotes/notes.html"
                        style="text-decoration: none"
                        >See Notes</a
                     >
                  </button>
               </div>
            </div>
            <div class="branch-container">
               <div class="branch-content hidden">
                  <h2>Latest News</h2>
                  <p>
                     We Provide All Latest News about education, technology and
                     entertainment. Click On the button and visit to our blog
                     page to inform your self from differnt kind of news.
                  </p>
                  <button class="See More">
                     <a
                        href="./Blogs/mainBlog.html"
                        style="text-decoration: none"
                        >Vist Blogs</a
                     >
                  </button>
               </div>
               <div class="branch-img hidden">
                  <img src="./images/newsImg.png" alt="" />
               </div>
            </div>
         </div>
      </section>
      <section class="three">
         <div class="top-head hidden">
            <p>Our Services</p>
            <h1>SERVICES</h1>
            <font style="margin-top: 10px; font-size: 18px"
               >Explore Our Services By One Click</font
            >
         </div>
         <div class="main-dev">
            <div class="cenDev">
               <div class="item-1 hidden">
                  <h2>Chapter Wise Notes</h2>
                  <img src="./images/Books.png" alt="" />
                  <p>
                     All chapter wise notes of Ninth to Twelfth Class are here,
                     just click on <b>Download</b> button and select your class
                     and subject.
                  </p>
                  <button type="button" class="See More">
                     <a
                        href="./ChapterWiseNotes/notes.html"
                        style="text-decoration: none"
                        >Download</a
                     >
                  </button>
               </div>
               <div class="item-1 hidden">
                  <h2>Past Year Papers</h2>
                  <img src="./images/Paper.png" alt="" />
                  <p>
                     KPK Board Past year papers for class 9<sup>th</sup> to
                     12<sup>th</sup>. click on <b>download</b> button and select
                     your class to download past years papers.
                  </p>
                  <button type="button" class="See More">
                     <a
                        href="./PastYearPapers/SelPaper.html"
                        style="text-decoration: none"
                        >Download</a
                     >
                  </button>
               </div>
               <div class="item-1 hidden">
                  <h2>Latest News</h2>
                  <img src="./images/News.png" alt="" />
                  <p>
                     Latest news from technology, education and entertainment,
                     click on
                     <b>visit</b> button and infrom yourself from latest newss
                  </p>
                  <button type="button" class="See More">
                     <a
                        href="./Blogs/mainBlog.html"
                        style="text-decoration: none"
                        >Vist to Blogs</a
                     >
                  </button>
               </div>
            </div>
         </div>
      </section>
      <section class="aboutUs">
         <div class="a-main-div">
            <div class="a-left">
               <div class="a-headings">
                  <h1>About Us</h1>
                  <h2>CEO: MASHAL HURARA</h2>
               </div>
               <div class="a-content">
                  <p>
                     USMANWEB is Pakistan Best online Class Notes Website where
                     you can easily prepare 5th class to Master class all
                     subjects chapter wise Notes. All Subjects of 9th, 10th,
                     11th, 12th Classes Chapter wise Multiple Choice Objective
                     type MCQs, Short & Long Question Answers, and Notes and
                     solved all chapters’ exercises etc.
                  </p>
                  <div class="a-btn">
                     <a href="#"
                        ><button type="submit">Contact With Us</button></a
                     >
                  </div>
               </div>
            </div>
            <div class="a-light">
               <img src="/images/AboutUS.png" alt="About-us-mashal" />
            </div>
         </div>
      </section>
      <% include ./partials/footer.ejs %>
   </body>
</html>
