<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./partials/head.ejs %>
      <link rel="stylesheet" href="/stylesheets/indexFileCss.css" />
      <meta
         name="description"
         content="Mashal Web Provide All Classes Chapter Wise Notes for 9th, 10th, 11th and 12th classes of Long Questions, Short Questions, MCQs, Letters, Applications, Grammer, Solved Numerical Problems Past Year Papers and Latest new related to the education and technology."
      />
      <meta http-equiv="Content-Type" content="text/html" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta
         name="keywords"
         content="Mashalweb, Mashal Web, mashal web, 9th class notes, ninth class notes, 10th class notes, tenth class notes, 11th class notes, 1st year notes, eleventh class notes,12th class notes, 2st year notes, twelfth class notes, FSC part 1 notes, FSC part 2 notes, malakand board past year paper, malakand board 9th class notes, latest new, latest malakand board news, latest educational new"
      />
      <meta name="language" content="english" />
      <meta name="author" content="Mashal Horara" />
      <meta name="expires" content="never" />
      <meta name="copyright" content="MashalWeb" />
      <meta property="og:site_name" content="Mashal Web" />
      <meta property="og:url" content="http://localhost:4000/" />
   </head>
   <body class="">
      <% include ./partials/navbar.ejs %>
      <section class="mainSection">
         <div class="textSection">
            <div class="heading hidden">
               <h1>
                  Lighting the Way, Explore <span>MASHAL WEB</span> for a
                  Brighter Online Experience.
               </h1>
            </div>

            <form action="/search/result" method="post">
               <input
                  type="search"
                  name="search"
                  required="required"
                  id="searchId"
                  placeholder="Search i.e ninth notes"
               />
               <button><i class="ri-search-line"></i></button>
            </form>
         </div>
         <div class="imageSec hidden">
            <img src="./images/HeroSecImg.png" alt="" />
         </div>
         <img class="bottomImg hidden" src="./images/DotsLayer.png" alt="" />
      </section>
      <div class="boxs">
         <div class="center">
            <div class="box hidden" style="margin-top: 10px">
               <a href="./ChapterWiseNotes/notes.html"
                  ><img src="./images/Books.png"
               /></a>
               <span>Notes</span>
            </div>
            <div class="box hidden" style="margin-top: 10px">
               <a href="./PastYearPapers/SelPaper.html"
                  ><img src="./images/Paper.png"
               /></a>
               <span>Papers</span>
            </div>
            <div class="box hidden" style="margin-top: 10px">
               <a href="./Blogs/mainBlog.html">
                  <img src="./images/News.png" />
               </a>
               <span>News</span>
            </div>
            <div class="box hidden" style="margin-top: 10px">
               <a href="#"><img src="./images/Software.png" /></a>
               <span>Softwares</span>
            </div>
         </div>
      </div>
      <section class="what-we-proivde">
         <div class="wwp-left">
            <div class="wwp-content">
               <h1>What We Provide</h1>
               <p>
                  We offer chapter-wise notes and past papers for students for
                  grades Ninth through twelfth. You can download them in both
                  PDF (.pdf) and document (.docx) formats, free of cost.
                  Additionally, we provide the latest updates on technology,
                  entertainment, and education news. Please note that the past
                  papers we provide are only valid for KPK BOARDS.
               </p>
            </div>
         </div>
         <div class="wwp-right">
            <div class="wwpBoxs">
               <div class="wwpBox">
                  <i class="ri-sticky-note-fill"></i>
                  <div class="wwpBox-content">
                     <h2>Chapter Wise Notes</h2>
                     <p>
                        ninth to twelfth class notes of long question, short
                        question, MCQs and many more.
                     </p>
                  </div>
               </div>
               <div class="wwpBox">
                  <i class="ri-article-fill"></i>
                  <div class="wwpBox-content">
                     <h2>Past Year Papers</h2>
                     <p>
                        KPK Boards solved past year papers of all subjects of
                        Ninth to twelfth class.
                     </p>
                  </div>
               </div>
               <div class="wwpBox">
                  <i class="ri-news-fill"></i>
                  <div class="wwpBox-content">
                     <h2>News and Blogs</h2>
                     <p>
                        Blogs and Latest new related to education, technology
                        and tip & tricks.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="goals">
         <div class="goalsImg">
            <img src="/images/man-tablet-clouds.png" alt="goals-image" />
         </div>
         <div class="goalsText">
            <h1>Our Goals</h1>
            <p>
               Now a Days, there are a lot of costly books and notes that are
               available in the market. Not all students can afford to buy all
               of them. Therefore, we offer free chapter-wise notes and past
               year papers in PDF format to students and teachers from the ninth
               to eleventh grade. Now a Days, there are a lot of costly books
               and notes that are available in the market. Not all students can
               afford to buy all of them. Therefore, we offer free chapter-wise
               notes and past year papers in PDF format to students and teachers
               from the ninth to eleventh grade.
            </p>
         </div>
      </section>
      <section class="services">
         <div class="ser-heading">
            <h1>Our Services</h1>
            <p>Explore Our All Services By One Click!</p>
         </div>

         <div class="main-ser-box">
            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Ninth Class Notes</h2>
                  <p>Ninth Class All Subject Notes</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>

            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Tenth Class Notes</h2>
                  <p>Tenth Class All Subject Notes</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>

            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Eleventh Class Notes</h2>
                  <p>Eleventh Class All Subject Notes</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>

            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Twelfth Class Notes</h2>
                  <p>Twelfth Class All Subject Notes</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>

            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>All Chapters Solved MCQs</h2>
                  <p>Get All chapter Solved MCQs</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>

            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>English Grammer</h2>
                  <p>All Classes English Grammer Notes</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>

            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Urdu Grammer</h2>
                  <p>All Classes Urdu Grammer</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>
            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Physics Numericals</h2>
                  <p>All classes physics solved numericals</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>
            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Past Year Papers</h2>
                  <p>All classes solved past year papers</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>
            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>Urdu Lessons, Gazal & Nazam</h2>
                  <p>complete lessons, gazals & nazams tashreeh</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>
            <div class="ser-box">
               <i class="ri-news-fill"></i>
               <div class="ser-text">
                  <h2>letest News</h2>
                  <p>Latest New related to education and technology</p>
                  <a href="#"><button>Read More</button></a>
               </div>
            </div>
         </div>
      </section>
      <section class="aboutUs">
         <div class="a-main-div">
            <div class="a-left">
               <div class="a-headings">
                  <h1>About Us</h1>
                  <h2>CEO: MASHAL HURARA</h2>
               </div>
               <div class="a-content">
                  <p>
                     USMANWEB is Pakistan Best online Class Notes Website where
                     you can easily prepare 5th class to Master class all
                     subjects chapter wise Notes. All Subjects of 9th, 10th,
                     11th, 12th Classes Chapter wise Multiple Choice Objective
                     type MCQs, Short & Long Question Answers, and Notes and
                     solved all chapters’ exercises etc.
                  </p>
                  <div class="a-btn">
                     <a href="#"
                        ><button type="submit">Contact With Us</button></a
                     >
                  </div>
               </div>
            </div>
            <div class="a-light">
               <img src="/images/AboutUS.png" alt="About-us-mashal" />
            </div>
         </div>
      </section>
      <% include ./partials/footer.ejs %>
   </body>
</html>
