<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./partials/head.ejs %>
      <link rel="stylesheet" href="/stylesheets/LoginReg.css" />
   </head>
   <body>
      <% include ./partials/navbar.ejs %> <% if (locals.error) { %>
      <div class="e">
         <div class="errors">
            <p><%= locals.error %></p>
         </div>
      </div>
      <% } %>
      <section class="fromSec" style="margin-top: 120px">
         <form action="/register" method="post">
            <h2>Create New Account</h2>
            <div class="inputs">
               <label for="name">User Name</label>
               <input
                  type="text"
                  name="username"
                  id="name"
                  placeholder="type your name.."
                  required="required"
               />
            </div>
            <div class="inputs">
               <label for="email">Email</label>
               <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="type your email.."
                  required="required"
               />
            </div>
            <div class="inputs">
               <label for="password">Password</label>
               <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="password.."
                  required="required"
                  autocomplete="current-password"
               />
            </div>
            <button type="submit">Create Account</button>
            <p class="login">
               Already Have a Account <a href="/login">Login</a>
            </p>
         </form>
         <div class="form-img">
            <img src="images/FromImage.jpg" alt="" />
         </div>
      </section>
      <% include ./partials/footer.ejs %>
      <script>
         document.querySelector(".e").addEventListener("click", function () {
            this.style.display = "none";
         });
         setTimeout(() => {
            document.querySelector(".e").style.display = "none";
         }, 4000);
      </script>
   </body>
</html>
