
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/attena');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background: #081B29;
}

nav {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #000d1a3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 5px 20px;
    box-shadow: 0 2px 18px 0 rgba(0, 190, 204, 0.301);
}

nav .logo img {
    width: 180px;
}

nav .items ul li {
    display: inline-block;
    padding: 13px;
    cursor: pointer;
    transition: 0.3s ease;
    animation: showFUp 0.9s linear 0s 1 ;
}

.items ul li:hover {
    background: #6e6e6e23;
}

.items ul li a {
    color: #fff;
}

.socIcons i {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease;
    color: #00d9ff;
    font-size: 20px;
    padding: 4px 6px;
    border-radius: 50%;
    /* font-weight: 400; */
    transition: 0.6s ease;
    border: 2px solid #00d9ff;
}
.socIcons i:hover{
    color: #081B29;
    background: #0bc6ff;
    box-shadow: 0 0 15px 0 rgb(0, 217, 255);
}
.left .socIcons{
    padding-bottom: 10px;
}
.left .socIcons i{
    background: #00c3ff;
    color: #081B29;
    margin: 0 5px;
    box-shadow: 0 0 10px 0 rgb(0, 217, 255);
    transition: 0.3s ease;
}
.left .socIcons i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 0 rgb(0, 217, 255);
}
.secNav{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000a2;
    backdrop-filter: blur(15px);  
    z-index: 3; 
    display: flex;
    justify-content: center;  
    padding: 0 10px;
    display: none;
}
.secNav ul{
    margin-top: 70px;
    width: 94%;
}
.secNav ul li{
    background: transparent;
    margin-bottom: 8px;
    background: #00c3ff21;
    backdrop-filter: blur(16px);
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    animation: showFLow 0.7s linear 0s 1 ;
}
@keyframes showFLow {
    0%{
        opacity: 0;
        margin-top: 30px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes showFUp {
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.secNav ul li:hover{
    background: #00c3ff59;
}
.secNav ul li a{
    margin-left: 20px;
    color: #fff;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 300;
}
.secNav ul li a i{
    color: #00c3ff;
    font-size: 21px;
    padding-right: 3px;
}
.closeSecNav{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}
.secLogo{
    position: absolute;
    top: 25px;
    left: 15px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s ease;
}
.closeSecNav:hover{
    transform: scale(1.1);
}

.mainHeroSec {

    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    margin-top: 85px;
    flex-wrap: wrap;
}

.mainHeroSec .left {
    flex-basis: 45%;
}

.mainHeroSec .left h4 {
    color: #fff;
    font-family: 'Attena',sans-serif;
    letter-spacing: 2.5px;
    text-shadow: 0px 2px 3px rgb(0, 0, 0);
    animation: fromUp 1.5s 0s 1 normal;
}

.mainHeroSec .left h1 {
    font-size: 40px;
    font-weight: 800;
    margin-top: -7px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0px 2px 1px rgb(0, 0, 0);
    animation: fromUp 1.5s 0s 1 normal;
}

@keyframes fromUp {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mainHeroSec .left h1 span {
    color: rgb(0, 217, 255);

}

.mainHeroSec .left h3 {
    color: #fff;
    margin-top: -6px;
    font-weight: 550;
    font-size: 21px;
    animation: fromleft 1.5s 0s 1 normal;
}

.mainHeroSec .left h3 span {
    color: rgb(0, 217, 255);
}

.mainHeroSec .left p {
    margin-top: 10px;
    color: #fff;
    line-height: 22px;
    animation: fromleft 1.5s 0s 1 normal;
}

@keyframes fromleft {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.mainHeroSec .socIcons {
    margin-top: 17px;
}

.mainHeroSec .socIcons img {
    margin-left: 10px;
    margin-right: 10px;
    animation: fromDwon 0.7s linear 0s 1 normal;
}

button {
    background: rgb(0, 217, 255);
    padding: 9px 16px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-top: 14px;
    font-size: 16px;
    color: #081B29;
    position: relative;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgb(0, 217, 255),
        0 0 20px 0 rgba(0, 217, 255, 0.534);
    transition: 0.3s ease;
    animation: fromDwon 1.1s linear 0s 1 normal;
}

button::after {
    content: "";
    width: 0%;
    height: 100%;
    background: #081B29;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    border-radius: 30px;
    z-index: -1;
    transition: 0.4s ease;
}

button:hover::after {
    width: 100%;
}

button:hover {
    color: #fff;
}

@keyframes fromDwon {
    0% {
        opacity: 0;
        transform: translateY(22px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mainHeroSec .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeroSec .right img {
    animation: scale 0.9s linear 0s 1;
    width: 100%;
    filter: drop-shadow(0 0 25px rgb(0, 174, 255));
}

@keyframes scale {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.resMenu {
    display: none;
    width: 66px;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .mainHeroSec {
        padding: 10px 100px;
    }

    .mainHeroSec .left {
        flex-basis: 100%;
        margin-top: 0;
    }

}

@media only screen and (max-width: 914px) {
    .resMenu {
        display: block;
    }
    .items {
        display: none;
    }
}
@media only screen and (max-width: 671px) {
    .mainHeroSec {
        padding: 10px 40px;
    }  
}

@media only screen and (max-width: 500px) {
    .mainHeroSec {
        padding: 10px 16px;

    }

    .mainHeroSec .right {
        margin-top: 15px;
    }
}

@media only screen and (max-width:410px) {
    nav {
        padding: 0 10px;
    }

    nav .socIcons img {
        width: 22px;
    }

    nav .logo img {
        width: 120px;
    }

    .resMenu {
        width: 50px;
    }

    .mainHeroSec .left h1 {
        font-size: 30px;
        margin-top: -2px;
    }

    .mainHeroSec .left h3 {
        font-size: 18px;
    }

    .mainHeroSec .left p {
        font-size: 15px;
    }

    .mainHeroSec .socIcons img {
        margin-left: 7px;
        margin-right: 7px;
    }

    .mainHeroSec .right img {
        width: 90%;
    }
}

@media only screen and (max-width: 318px) {
    nav {
        padding: 0 5px;
    }

    .mainHeroSec {
        padding: 10px;
    }

    .mainHeroSec .left h1 {
        font-size: 24px;
    }

    .mainHeroSec .left h3 {
        font-size: 16px;
    }
    nav .socIcons i{
        font-size: 16px;
        padding: 4px 5px;
    }
}

.careerObjective {
    width: 100%;
    padding: 10px 30px;
    padding-top: 70px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 50px;
    flex-wrap: wrap;

}

.careerObjective .carText {
    flex-basis: 60%;
    order: 2;
}

.careerObjective .carText h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.careerObjective .carText h1 span {
    color: rgb(0, 217, 255);
    text-shadow: 0 0 10px rgb(0, 174, 255);
}

.careerObjective .carText p {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}

.careerObjective .carImg {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.careerObjective .carImg img {
    width: 80%;
    filter: drop-shadow(0 0 20px rgb(0, 174, 255));
}

@media only screen and (max-width: 1110px) {
    .careerObjective {
        padding: 10px 7px;
        gap: 0;
    }
}

@media only screen and (max-width: 954px) {
    .careerObjective {
        margin-top: 20px;
    }

    .careerObjective .carText {
        order: 0;
        flex-basis: 90%;
    }

    .careerObjective .carImg {
        justify-content: center;
    }
}

@media only screen and (max-width: 440px) {
    .careerObjective .carText {
        flex-basis: 100%;
    }

    .careerObjective .carText p {
        font-size: 15px;
    }

    .careerObjective .carText h1 {
        font-size: 27px;
    }

    .careerObjective {
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 330px) {
    .careerObjective .carText p {
        font-size: 14.3px;
        line-height: 20px;
    }

    .careerObjective .carText h1 {
        font-size: 25px;
    }
}

.skillsSec {
    padding: 15px 20px;
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 100%;
}

.skillsSec .headingSec {
    padding-bottom: 20px;

}

.skillsSec .headingSec h1 {
    color: #fff;
    text-align: center;
    font-size: 37px;
    letter-spacing: 1px;
    text-shadow: 0 0 20px rgba(0, 217, 255, 0.473);
    position: relative;
}

.skillsSec .headingSec h1 span {
    color: rgb(0, 217, 255);
}

.skillsSec .headingSec h1::before {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#01a4d6, #081B29);
    position: absolute;
    top: -15px;
    margin-left: 175px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    /* align-items: center; */
    gap: 0 20px;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.heading h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.main .skills .skillBox {
    margin: 8px 0;
    padding-bottom: 2px;
}

.main .skills .skillBox p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.main .exper {
    flex-basis: 46%;
}

.main .exper .experBox {
    padding-bottom: 10px;
}

.main .exper .experBox h3 {
    color: rgb(0, 217, 255);
    font-weight: 700;
    font-size: 17.5px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.main .exper .experBox p {
    color: #fff;
    margin-left: 5px;
    font-size: 14.5px;
    line-height: 20px;
}

.text-img {
    display: flex;
    align-items: center;
}

.text-img p {
    display: inline-block;

}

.text-img img {
    width: 27px;
    display: inline-block;
    padding-right: 3px;
}

.lineBar div {
    background: #3f3f3f;
    height: 6px;
    width: 370px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}

.lineBar div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 87%;
    height: 100%;
    background: rgb(0, 217, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgb(0, 217, 255);
}

.lineBar div span.two {
    width: 73%;
}

.lineBar div span.three {
    width: 65%;
}

.lineBar div span.four {
    width: 96%;
}

.lineBar div span.five {
    width: 90%;
}

.lineBar div span.six {
    width: 45%;
}

.lineBar div span small {
    position: absolute;
    top: -18px;
    right: -12px;
    color: #ffffff;
}

@media only screen and (max-width:862px) {
    .main {
        gap: 6px;
    }
}

@media only screen and (max-width:810px) {
    .main .exper {
        flex-basis: 90%;
    }
}

@media only screen and (max-width:443px) {
    .skillsSec {
        padding: 15px 10px;
    }

    .main .exper {
        flex-basis: 99%;
    }
    .skillsSec .headingSec{
        padding-bottom: 2px;
    }
    .skillsSec .headingSec h1 {
        font-size: 29px;
    }

    .skillsSec .headingSec h1::before {
        margin-left: 140px;
    }

}

@media only screen and (max-width:387px) {
    .lineBar div {
        width: 300px;
    }

    .main .skills .skillBox p {
        margin-top: 0px;
        font-size: 14px;
    }

    .text-img img {
        width: 24px;
    }
}

@media only screen and (max-width:316px) {
    .lineBar div {
        width: 280px;
    }
}
.myServices{
    padding: 15px 20px;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    position: relative;
}
.myServices .headingSec{
    padding-bottom: 35px;
}
.myServices .headingSec h1{
    color: #fff;
    text-align: center;
    font-size: 37px;
    letter-spacing: 1px;
    text-shadow: 0 0 20px rgba(0, 217, 255, 0.473);
    position: relative;
}
.myServices .headingSec h1 span {
    color: rgb(0, 217, 255);
}
.myServices .headingSec h1::before {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#01a4d6, #081B29);
    position: absolute;
    top: -15px;
    margin-left: 118px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.serMain{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 22px 0;
}
.serMain .serviceBox{
    background: linear-gradient(45deg,#081B29,rgba(0, 42, 61, 0.781));
    width: 380px;
    /* flex-basis: 30%;s */
    box-shadow: 0 1px 20px 0 rgba(0, 217, 255, 0.384);
    padding: 16px 7px;
    border-radius: 7px;
}
.serMain .serviceBox h3{
    color: #fff;
    margin-top: 10px;
    letter-spacing: 0.3px;
    font-weight: 550;
    font-size: 23px;
}
.serMain .serviceBox p{
    color: #fff;
    font-weight: 350;
    font-size: 15px;
    line-height: 20px;
}
.serMain .serviceBox button{
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.serviceBox img{
    width: 100px;
    margin-left: 10px;
}
@media only screen and (max-width: 843px){
    .myServices{
        padding: 15px 10px;
    }
    .serMain .serviceBox{
        
        flex-basis: 70%;
    }
}
@media only screen and (max-width: 500px){
    .serMain .serviceBox{
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 396px){
    .serMain .serviceBox{
        padding: 10px 7px;
    }
    .serMain .serviceBox p{
        font-size: 14px;
    }
    .serMain .serviceBox h3{
        margin-top: 2px;
    }
}






.projectHeading{
    margin-top: 50px;
}
.projectHeading .headingSec h1{
    color: #fff;
    text-align: center;
    font-size: 37px;
    letter-spacing: 1px;
    text-shadow: 0 0 20px rgba(0, 217, 255, 0.473);
    position: relative;
}
.projectHeading .headingSec h1 span {
    color: rgb(0, 217, 255);
}
.projectHeading .headingSec h1::before {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#01a4d6, #081B29);
    position: absolute;
    top: -15px;
    margin-left: 113px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
#projects{
    justify-content: space-evenly;
}
#projects .carImg img{
    filter: drop-shadow(0 0 10px rgba(0, 174, 255, 0.603));
    width: 320px;
}

@media only screen and (max-width: 350px){
    #projects .carImg img{
        width: 280px;
        margin-top: 15px;
    }
    .projectHeading .headingSec h1{
        font-size: 28px;
    }
}
.contact{
    margin-top: 40px;
    width: 100%;
    position: relative;
    padding: 15px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 13px;
    flex-wrap: wrap;
}
.contact .contact-form form{
    width: 450px;
    display: flex;
    position: relative;
    /* align-items: center; */
    padding: 20px 5px;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 174, 255, 0.37),
    0 0 20px 0 rgba(0, 174, 255, 0.445);
    background: linear-gradient(280deg,#01a4d65b, #081B29);
}
.contact .contact-form form input{
    width: 100%;
    padding: 10px 4px;
    outline: none;
    border: none;
    margin-bottom: 8px;
    background: transparent;
    font-size: 15.5px;
    padding-left: 12px;
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid #ffffffa6;
    transition: 0.2s ease;
}
.contact .contact-form form input:focus{
    box-shadow: 0 0 4px 0 rgb(0, 174, 255);
}
::placeholder{
    color: #bbb9b9;
}
.contact .contact-form form textarea{
    resize: none;
    width: 100%;
    background: #ffffff17;
    border: none;
    padding: 5px 7px;
    outline: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-top: 12px;
    height: 150px;
    margin-bottom: 10px;
}
.contact .contact-text{
    flex-basis: 52%;
}
.contact .contact-text .txt{
    padding-bottom: 5px;
}
.contact .contact-text .txt h1{
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 174, 255, 0.548);
    letter-spacing: 0.5px;
}
.contact .contact-text .txt h1 span{
    color: #19c9ff;
}
.contact .contact-text .txt p{
    color: #fff;
    font-weight: 350;
    line-height: 21px;
}
.contact .contact-text .icon-text{
    color: #fff;
}
.contact .contact-text .icon-text i{
    color: #00c3ff;
    padding-right: 6px;
}
.contact .contact-text .socIcons i{
    font-weight: 400;
    margin-top: 15px;
    background: #00c3ff;
    color: #081B29;
    font-size: 25px;
    padding: 7px 8px;
    box-shadow: 0 0 20px 0 rgba(0, 217, 255, 0.534);
    margin-left: 6px;
    transition: 0.3s ease;
}
.contact .contact-text .socIcons i:hover{
    color: #00c3ff;
    background: #081B29;
}
footer{
    margin-top: 30px;
    background: linear-gradient(#0062a8,#006a8a);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer p{
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
footer p span{
    color: #00d9ff;
    text-shadow: none;
    font-weight: 700;
}
hr{
    width: 40%;
    
}
@media only screen and (max-width: 1004px){
    .contact .contact-text{
        flex-basis: 85%;
        padding-bottom: 35px;
    }
}

@media only screen and (max-width: 610px){
    .contact .contact-text{
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 480px){
    .contact .contact-form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact .contact-form form{
        width: 100%;
    }
}

@media only screen and (max-width: 376px){
    .contact{
        padding: 15px 10px;
    }
    footer p{
        font-size: 13px;
    }
    .contact .contact-text .socIcons i{
        font-size: 20px;
    }
    .contact .contact-form form input{
        padding: 8px 4px;
        margin-bottom: 5px;
    }
    .contact .contact-text .txt p{
        font-size: 15px;
    }
}
