.mainHeading-blog {
    margin-top: 140px;

    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBlogContent {
    width: 60%;
    position: relative;
    text-align: center;
    padding: 20px 10px;
    z-index: 1;

}

.mainBlogContent h1 {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
    background: -webkit-linear-gradient(45deg, #bb37bb, #ff6918);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.mainBlogContent p {
    color: #000;
}

.mainBlogContent::before {
    content: "";
    position: absolute;
    background: linear-gradient(#bb37bb46, #fa7b3648);
    width: 70%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    filter: blur(120px);
}

@media only screen and (max-width: 550px) {
    .mainBlogContent {
        width: 100%;
        padding: 20px 8px;
    }
}

.blogSec {
    background: #fcfcfc;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: start;
    flex-wrap: wrap;
}

.blogsBoxs {
    flex-basis: 48%;

    display: flex;
    flex-direction: column;
    gap: 25px 0;

}

.blogsBoxs .blogBox {


    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 5px 0;
    border-radius: 10px;
    box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.103);
}

.blogBox .blogImg {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(45deg, #bb37bb, #ff6918);
    position: relative;
    z-index: 2;
}

.blogBox .blogImg::before {
    content: "loading";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: -1;
}

.blogBox .blogImg img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;

}

.blogBox .blogContent {
    padding: 0 10px;
}

.blogBox .blogContent h1 {
    font-weight: 650;
    line-height: 25px;
    margin-top: 8px;
    font-size: 23px;
    margin-bottom: 6px;
    background: -webkit-linear-gradient(45deg, #bb37bb, #ff6918);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.blogBox .blogContent .content {
    font-size: 15px;
    color: #000;
    line-height: 19px;
    letter-spacing: 0.2px;
}

.blogContent button {
    border: none;
    outline: none;
    background: linear-gradient(45deg, #bb37bb, #ff6918);
    padding: 5px 19px;
    margin: 5px;
    font-size: 15px;
    border-radius: 5px;
}

.blogContent button a {
    text-decoration: none;
    color: #fff;
}

.blogBox .blogDeatils {

    display: flex;
    gap: 0 15px;
    font-size: 13px;
    color: #575757;
}

.blogBox .blogDeatils i {
    background: -webkit-linear-gradient(45deg, #bb37bb, #ff6918);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.blogSidebar {
    width: 400px;
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.103);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px 0;
    border-radius: 10px;
}



.he {
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(45deg, #bb37bb, #ff6918);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.recantBlogs .links {
    margin-top: 5px;
}

.recantBlogs .links a {
    text-decoration: none;
    color: #000;
}

.recantBlogs .links a h3 {
    text-align: start;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
    color: #000;
}

.recantBlogs .links a h3 span {
    font-weight: 400;
    font-size: 12px;
    display: block;
}

.recantBlogs .links a h3 span i {
    background: -webkit-linear-gradient(45deg, #bb37bb, #ff6918);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.tags .tages {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.tags .tages button {
    padding: 6px 10px;
    border: none;
    outline: none;
    border: 1px solid #ff6918;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s ease;

}

.tags .tages button a {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.tags .tages button:hover {
    background: #ff6918;
}

.tags .tages button:hover a {
    color: #ffffff;
}

.connecti {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.connecti a {
    text-decoration: none;
}

.connecti a i,
.edit i {
    background: -webkit-linear-gradient(45deg, #bb37bb, #ff6918);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 22px;
    cursor: pointer;
}

@media only screen and (max-width: 830px) {
    .mainHeading-blog {
        margin-top: 130px;
    }

    .blogSec {
        margin-top: 30px;
    }

    .blogsBoxs {
        flex-basis: 90%;

    }

    .blogSidebar {
        width: 60%;
    }
}

@media only screen and (max-width: 563px) {
    .blogsBoxs {
        flex-basis: 100%;
        padding: 0;
    }

    .blogSidebar {
        width: 100%;
    }
}

@media only screen and (max-width: 411px) {
    .blogSec {
        padding: 20px 10px;
    }

    .blogBox .blogImg {
        height: 190px;
    }

    .blogBox .blogContent {
        padding: 8px;
    }

    .blogBox .blogContent h1 {
        font-size: 20px;
        line-height: 23px;
    }

    .blogBox .blogContent .content {
        font-size: 14px;
    }

    .blogSidebar {
        padding: 20px 10px;
    }
}

.blogView {
    width: 100%;
    padding: 20px;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}

.blogView .viewContent {
    padding: 5px;
    flex-basis: 64%;

    padding-bottom: 15px;
}

.blogView .viewContent h2 {
    background: -webkit-linear-gradient(45deg, #d43fd4, #ff600b 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    padding: 9px 0;
    font-weight: 800;
}

.blogView .viewContent h1 {
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: 600;
}




.viewContent main p {
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}

.viewContent main p a {
    text-decoration: none;
    color: #575353;
    position: relative;
    transition: 0.3s ease;
}

.viewContent main p a::before {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background: linear-gradient(45deg, #bb37bb, #ff6918);
    transition: 0.3s ease;
}

.viewContent main p a:hover {
    color: #000;
}

.viewContent main p a:hover::before {
    width: 50%;
}

.viewContent main h3 {
    font-size: 18px;
    font-weight: 550;
    color: #000;
    padding: 3px 0;
}

.viewContent main ol {
    margin: 10px 0;
    margin-left: 17px;
    color: #000;
}

.viewContent main img {
    margin: 15px 0;
    width: 70%;
    aspect-ratio: 16/9;
}

.commentForm {
    background: #f8f8f8;
    width: 600px;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px 0;
    margin-left: 40px;
    border-radius: 10px;
}

.commentForm h1 {
    font-weight: 600;
    font-size: 30px;
}

.commentForm input,
textarea {
    width: 100%;
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.041);
    resize: none;

}

.commentForm textarea {
    height: 200px;
}

.commentForm button {
    background: linear-gradient(45deg, #ff6918, #d43fd4);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.103);
    cursor: pointer;
    width: 100%;
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.041);
    resize: none;
}

@media only screen and (max-width: 700px) {
    .commentForm {
        width: 100%;
        margin-left: 0;
        padding: 12px;
    }

    .commentForm input,
    textarea {
        font-size: 14px;
    }
}

.commentShow {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 13px 0;
}

.commentShow h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.commentShow .commentBox {
    padding: 15px 10px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.041);
}

.commentShow .commentBox h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    background: -webkit-linear-gradient(45deg, #d43fd4, #ff600b 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.commentShow .commentBox small {
    font-size: 12.5px;
}

.comment-content p {
    color: #000;
}

@media only screen and (max-width: 583px) {
    .commentShow {
        margin-left: 0;
        padding: 0 10px;
        width: 90%;
    }

    .commentShow .commentBox {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .commentShow {
        width: 100%;
    }
}