.mainSection {
    margin-top: 110px;
    width: 100%;
    padding: 15px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 10px;
    flex-wrap: wrap;
    padding-bottom: 70px;
    z-index: 5;
}

.mainSection .textSection {
    flex-basis: 50%;
    z-index: 1;
}

.textSection::before {
    content: "";
    position: absolute;
    background: linear-gradient(#bb37bb48, #fa7b364d);
    width: 30%;
    height: 30%;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    filter: blur(120px);
}

.mainSection .imageSec img {
    filter: drop-shadow(0 3px 15px #ff894a34);
}

.mainSection .textSection .heading {
    position: relative;
}

.mainSection .textSection .heading::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 20%;
    height: 6px;
    background: #ffa574;
    border-radius: 20px;
}


.mainSection .textSection .heading h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    color: #000;
}

.mainSection .textSection .heading h1 span {
    background: -webkit-linear-gradient(45deg, #BB37BB, #fda97b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    position: relative;
}

.textSection form {
    align-items: start;
    padding: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0 10px;
    padding: 10px;
    align-items: center;
}

.textSection form input {
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    backdrop-filter: blur(10px);
}

.textSection form #searchId {
    background: #fff;
    border-radius: 5px;
    backdrop-filter: 40px;
    box-shadow: 0 3px 15px 4px rgba(255, 94, 0, 0.103);
    width: 300px;
    font-size: 16px;
    transform: 0.3s ease;
}

.textSection form #searchId:focus {
    box-shadow: 0 3px 10px 4px rgba(255, 94, 0, 0.178);
}

.textSection form button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.bottomImg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -4;
    width: 100%;
    opacity: 0.7;
}

.center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.center .box {
    width: 170px;
    height: 126px;
    margin: 0 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 14px 4px rgba(249, 151, 94, 0.199);
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease;
    cursor: pointer;
    /* flex-wrap: wrap; */
}

.box:nth-child(2) {
    transition-delay: 100ms;
}

.box:nth-child(3) {
    transition-delay: 200ms;
}

.box:nth-child(4) {
    transition-delay: 300ms;
}

.center .box img {
    width: 65px;
}

.center .box span {
    font-weight: 500;
    font-size: 17px;
}

.center .box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(rgba(249, 102, 94, 0.575),
            rgba(255, 94, 0, 0.452));
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

.center .box:hover::after {
    height: 65%;
}

.center .box:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 865px) {
    .mainSection {
        margin-top: 120px;
    }

    .mainSection .textSection {
        flex-basis: 92%;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 567px) {
    .mainSection .textSection {
        flex-basis: 98%;
    }

    .mainSection {
        padding: 15px 10px;
        padding-bottom: 50px;
    }

    .textSection form #searchId {
        width: 280px;
        font-size: 15px;
    }

    .textSection::before {
        top: 10%;
        width: 40%;
    }
}

@media only screen and (max-width: 441px) {
    .mainSection .textSection .heading h1 {
        font-size: 32px;
        line-height: 37px;
    }
}

@media only screen and (max-width: 403px) {
    .mainSection .imageSec {
        width: 90%;
    }

    .mainSection {
        padding-bottom: 30px;
    }

    .mainSection .imageSec img {
        width: 100%;
    }
}

@media only screen and (max-width: 570px) {
    .center .box {
        box-shadow: 0 6px 10px 4px rgba(249, 151, 94, 0.11);
    }
}

@media only screen and (max-width: 430px) {

    .center .box {
        width: 142px;
        height: 100px;
        margin: 10px 10px;
    }
}


@media only screen and (max-width: 320px) {
    .center .box {
        width: 120px;
        height: 86px;
    }

    .center .box img {
        width: 50px;
    }
}

.what-we-proivde {
    width: 100%;
    position: relative;

    padding: 20px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 10px;
    flex-wrap: wrap;
}

.what-we-proivde .wwp-left,
.wwp-right {
    flex-basis: 40%;
    padding: 10px;
}

.wwp-left .wwp-content h1 {
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: -webkit-linear-gradient(45deg, #BB37BB, #fa7b36);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: capitalize;
}

.wwp-left .wwp-content p {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
}

.wwp-right {
    border-radius: 10px;
    background: #fcfcfc;
    position: relative;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.wwp-right::before {
    content: "";
    position: absolute;
    background: linear-gradient(#bb37bb42, #fa7b36c2);
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    filter: blur(100px);
}

.wwp-right .wwpBoxs {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.wwp-right .wwpBoxs .wwpBox {
    background: #ffffff1c;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.041);
}

.wwp-right .wwpBoxs .wwpBox .wwpBox-content h2 {
    font-size: 20px;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg, #bb37bbc0, #ff6d1e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: capitalize;

}

.wwp-right .wwpBoxs .wwpBox .wwpBox-content p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
}

.wwp-right .wwpBoxs .wwpBox i {
    font-size: 28px;
    background: -webkit-linear-gradient(45deg, #bb37bb, #ff6d1e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media only screen and (max-width: 835px) {
    .what-we-proivde {
        gap: 20px 0;
    }

    .what-we-proivde .wwp-left,
    .wwp-right {
        flex-basis: 80%;
    }
}

@media only screen and (max-width: 559px) {

    .what-we-proivde .wwp-left,
    .wwp-right {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 420px) {

    .what-we-proivde {
        padding: 20px 8px;
    }

    .what-we-proivde .wwp-left {
        padding: 0px;
    }

    .wwp-left .wwp-content h1 {
        font-size: 27px;
    }

    .wwp-left .wwp-content p {
        font-size: 14px;
    }

    .wwp-right {
        padding: 20px 7px;
    }

    .wwp-right .wwpBoxs .wwpBox {
        padding: 15px 10px;
    }

    .wwp-right .wwpBoxs .wwpBox .wwpBox-content h2 {
        font-size: 18px;
    }

    .wwp-right .wwpBoxs .wwpBox .wwpBox-content p {
        font-size: 14.5px;
    }
}


form {
    padding: 15px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

form button {
    width: 80%;
    margin-top: 13px;
    padding: 10px 6px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 3px 4px 4px #fc9b6628;
    transition: 0.3s ease;
    color: #ffffff;
    background: linear-gradient(45deg,
            #BB37BB,
            #fda97b);
    font-size: 17px;
    text-shadow: 0px 1px 2px #0000008c;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    background: linear-gradient(45deg,
            #fda97b, #BB37BB);
}


.goals {
    padding: 20px;
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 10px;
    flex-wrap: wrap;
}

.goals .goalsText {
    margin-top: -20px;
    flex-basis: 45%;
    position: relative;
    z-index: 1;
}

.goals .goalsText::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #BB37BB, #ff6d1f);
    z-index: -1;
    border-radius: 50%;
    filter: blur(90px);
}

.goals .goalsText::after {
    content: "";
    position: absolute;
    bottom: -0px;
    right: -0px;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #BB37BB, #ff6d1f);
    z-index: -1;
    border-radius: 50%;
    filter: blur(90px);
}

.goals .goalsText h1 {
    background: -webkit-linear-gradient(45deg, #BB37BB, #ff6a1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 39px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.goals .goalsText p {
    font-size: 17px;
    line-height: 24px;
    text-transform: capitalize;
}

.goalsImg {
    flex-basis: 35%;

}

.goalsImg img {
    width: 90%;
    height: 90%;
    filter: drop-shadow(0 3px 10px #fa7b3681);
}

@media only screen and (max-width: 885px) {
    .goals {
        gap: 20px 0;
    }

    .goals .goalsText {
        order: 1;
        flex-basis: 100%;
    }

    .goals .goalsImg {
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
    }

    .goalsImg img {
        width: 60%;
        height: 60%;
    }
}

@media only screen and (max-width: 443px) {
    .goalsImg img {
        width: 85%;
        height: 85%;
    }

    .goals .goalsText h1 {
        font-size: 33px;
    }

    .goals .goalsText p {
        font-size: 15px;
    }

    .goals {
        padding: 20px 8px;
    }
}

.aboutUs {

    padding: 20px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUs .a-main-div {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    gap: 0 10px;
    flex-wrap: wrap;
}

.a-main-div .a-left {
    margin-left: 20px;
    flex-basis: 44%;
    position: relative;
    z-index: 1;
}

.a-main-div .a-left::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #BB37BB, #ff6d1f);
    z-index: -1;
    border-radius: 50%;
    filter: blur(90px);
}

.a-main-div .a-left::after {
    content: "";
    position: absolute;
    bottom: -0px;
    right: -0px;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #BB37BB, #ff6d1f);
    z-index: -1;
    border-radius: 50%;
    filter: blur(90px);
}

.a-left .a-headings h1 {
    font-size: 35px;
    letter-spacing: 0.5px;
    background: -webkit-linear-gradient(45deg, #BB37BB, #ff772d);
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a-left .a-headings h2 {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #000;
}

.a-main-div .a-light {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.a-main-div .a-light img {
    width: 100%;
    height: 100%;
    margin-left: 26px;
}

.a-left .a-content .a-btn button {
    margin-top: 15px;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(45deg, #BB37BB, #fa7b36);
    border-radius: 30px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.342);
    box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.089);
    transition: 0.3s;
}

.a-left .a-content .a-btn button:hover {
    background: linear-gradient(45deg, #fa7b36, #BB37BB);
    cursor: pointer;
}

.a-left .a-content .a-btn button:active {
    scale: 0.9;
}

@media only screen and (max-width: 743px) {
    .aboutUs .a-main-div {
        width: 100%;
    }

    .a-main-div .a-left {
        flex-basis: 100%;
        margin-left: 0;
    }

    .aboutUs .a-main-div {
        gap: 6px 0;
    }

    .a-main-div .a-light {
        flex-basis: 80%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 450px) {
    .a-main-div .a-light {
        flex-basis: 100%;
        margin-left: -28px;
    }

    .aboutUs {
        padding: 20px 8px;
    }

    .a-left .a-headings h1 {
        font-size: 32px;
    }

    .a-left .a-headings h2 {
        font-size: 24px;
    }

    .a-left .a-content p {
        font-size: 15px;
    }

    .a-left .a-content .a-btn button {
        padding: 8px 15px;
        font-size: 15px;
    }
}

.services {
    width: 100%;
    background: #fcfcfc;
    position: relative;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.services .ser-heading {
    margin: 10px;
    text-align: center;
}

.ser-heading h1 {
    font-size: 35px;
    background: -webkit-linear-gradient(45deg, #BB37BB, #fa7b36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.5px;
}

.main-ser-box {
    width: 100%;

    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.ser-box {
    background: transparent;
    /* backdrop-filter: blur(20px); */
    width: 300px;
    height: 180px;
    padding: 10px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px 0;
    box-shadow: 0 4px 15px 4px rgba(0, 0, 0, 0.044);
    text-align: center;
    position: relative;
    z-index: 1;
}

.ser-box::before {
    content: "";
    width: 55%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(#8626863a, #ff6d1e62);
    z-index: -1;
    border-radius: 50%;
    filter: blur(60px);
    transform: translate(-50%, -50%);
}

.ser-box i {
    font-size: 30px;
    background: -webkit-linear-gradient(45deg, #BB37BB, #fa7b36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ser-box .ser-text {
    width: 100%;
}

.ser-box .ser-text h2 {
    font-size: 18px;
    font-weight: 550;
    line-height: 21px;
}

.ser-box .ser-text p {
    font-size: 14.5px;
    line-height: 19px;
    margin-top: 5px;
    color: #464646;
}

.ser-box .ser-text button {
    width: 70%;
    padding: 7px 0;
    background: linear-gradient(45deg, #bb37bbc0, #fa7b36b0);
    border: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.ser-box .ser-text button:active {
    scale: 0.9;
}

.ser-box .ser-text button:hover {
    background: linear-gradient(45deg, #bb37bbf5, #fa7b36f8);
}

@media only screen and (max-width: 970px) {
    .ser-box {
        width: 95%;
    }
}

@media only screen and (max-width: 420px) {
    .ser-box {
        width: 100%;
    }

    .services {
        padding: 20px 6px;
    }
}