@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

body.dark {
  background: #2e2e2e;
  color: #fff;
}

::-webkit-scrollbar {
  /* height: 30px; */
  background: #f0f0f0;
  border-radius: 9.99rem;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffa574, #fa7b36);
  border-radius: 9.99rem;
}


::selection {
  background: #141414;
  color: #fff;
}

.pdb {
  padding: 7px 10px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #bb37bb5b, #ffa574a4);
  text-transform: capitalize;
  transition: 0.3s ease;
}

.pdb:hover {
  background: linear-gradient(45deg, #bb37bbd3, #ffa574f5);

}

.pdb:active {
  scale: 0.9;

}

@media only screen and (max-width: 500px) {
  .pdb {
    padding: 6px 8px;
    font-size: 14px;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 25;
}

header nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80px;
  box-shadow: 0 5px 10px 4px #00000013;
  border-radius: 60px;
  padding: 14px 10px;
  background: #ffffffc9;
  backdrop-filter: blur(40px);
  transition: 0.5s ease;

}

nav .logo img {
  width: 150px;
  margin-top: 5px;

}


nav .items ul li {
  display: inline-block;
  /* padding: 10px 20px; */
  text-decoration: none;
}

.li {
  display: inline-block;
  margin-left: 7px;
  position: relative;
  padding: 0 10px;
}

.acc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, #bb37bbd2, #ff6918d2);
  font-size: 11px;
  cursor: pointer;
  transition: 0.3s ease;
  color: #fff;
  padding: 2px;
}

.acc:hover {
  background: linear-gradient(45deg, #ff6918d2, #bb37bbd2);
  color: #fff;
}

.acc:active {
  scale: 0.9;
}

.acc i {
  font-size: 18px;
}

.acc small {
  margin-top: -3px;
}

@media only screen and (max-width: 400px) {
  .acc {
    width: 40px;
    height: 40px;
  }

  .acc small {
    display: none;
  }
}

.asd {
  text-decoration: none;
}

.li::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 5px;
  bottom: -3px;
  left: 0;
  background: linear-gradient(45deg, #ff6918, #ff8442);
  transition: 0.3s ease;
  border-radius: 20px;
}

.li:hover::before {
  width: 100%;
}

.li i {
  font-size: 18px;
  background: -webkit-linear-gradient(45deg,
      #ff6918,
      #bb37bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


nav .items ul li a {
  color: #000000;
  font-weight: 400;
  font-size: 16.4px;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin-left: -4px;


}

nav .items ul li:hover ::before {
  width: 100%;
}

nav .items ul li:hover a {
  color: #979797;
}

.back {
  background: #f7f7f7;
  box-shadow: 0 3px 15px 4px #00000028;
  margin-top: 3px;
  width: 98%;
  height: 65px;
  backdrop-filter: blur(100px);
}

.secNav {
  position: fixed;
  width: 100%;
  top: 72px;
  left: 0;
  z-index: 28;
  background: #ffffffad;
  backdrop-filter: blur(20px);
  background-position: center;
  background-size: cover;
  box-shadow: 0 13px 15px 4px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  transition: all 0.4s ease;
  display: none;
  height: 0;
}

.secNav.open {
  transition: all 0.3s ease;
  display: block;
  height: fit-content;
}

.secNav.toTop {
  top: 56px;
}

.secNav ul {
  margin-top: 23px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.secNav ul li i {
  background: -webkit-linear-gradient(45deg,
      #ff6918,
      #bb37bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.secNav ul li {
  letter-spacing: 1px;
  width: 100%;
  list-style: none;
  margin-bottom: 10px;
  background: transparent;
  padding: 13px 30px;
  border-bottom: 0.5px solid #83838375;
  transition: backgroud 0.2s ease;
  cursor: pointer;

}


.secNav ul li:hover {
  background: linear-gradient(45deg, #bb37bb5b,
      #ffa574c7);
}

.secNav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}

.secNavActive {
  display: block;
}




.navIcon i {
  font-size: 28px;
  display: none;
  cursor: pointer;
  background: -webkit-linear-gradient(45deg,
      #ff6918,
      #bb37bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.close {
  position: absolute;
  top: 13px;
  font-size: 32px;
  right: 15px;
  cursor: pointer;
  color: #fff;
  background: #ffffff1a;
  border-radius: 3px;
  padding: 2px 3px;
  box-shadow: 0 2px 3px 2px rgba(255, 149, 100, 0.075);
}

.detss {
  position: absolute;
  top: 13px;
  left: 13px;
  cursor: pointer;
}

.pdb {

  width: 50px;
  height: 50px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 10px;
  background: -webkit-linear-gradient(45deg, #bb37bbce, #ff6d1ed5);
  text-transform: capitalize;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
}

.pdb:hover {
  background: -webkit-linear-gradient(45deg, #bb37bbf1, #ff6d1e);
}

@media only screen and (max-width: 400px) {
  .pdb {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 915px) {
  header nav {
    padding: 10px 13px;
    justify-content: space-between;
  }

  nav .items {
    display: none;
  }

  .navIcon i {
    display: block;
  }
}

@media only screen and (max-width: 865px) {

  header nav {
    margin-top: 10px;
    height: 70px;
  }

  nav .logo img {
    width: 100px;
  }
}

@media only screen and (max-width: 567px) {
  header nav {
    height: 60px;
    width: 90%;
  }

  .back {
    padding: 20px 20px;
    height: 50px;
  }
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  backdrop-filter: blur(50px);
  flex-direction: column;
}

@keyframes audio-wave {
  0% {
    height: 6px;
    transform: translateY(0px);
    background: #ff8e3a;
  }

  25% {
    height: 40px;
    transform: translateY(-5px) scaleY(1.7);
    background: #ed509e;
  }

  50% {
    height: 6px;
    transform: translateY(0px);
    background: #9c73f8;
  }

  100% {
    height: 6px;
    transform: translateY(0px);
    background: #0fccce;
  }
}

.sound-wave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 3.75rem;
  height: 2.5rem;
}

.sound-wave div {
  height: 2.5rem;
  display: block;
  width: 0.6rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background: orange;
  animation: audio-wave 2.2s infinite ease-in-out;
}

.sound-wave div:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}

.sound-wave div:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}

.sound-wave div:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}

.sound-wave div:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}

.sound-wave div:nth-child(5) {
  left: 55px;
  animation-delay: 1s;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.hidden {
  opacity: 0;
  filter: blur(4px);
  transition: all 1.3s ease;
  transform: translateY(-60%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}