.profile {
    width: 100%;
    position: relative;
    padding: 10px 20px;
    margin-top: 120px;
}

.profile .welMsg {
    padding: 10px 0;
}

.profile .welMsg h1 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}

.profile .welMsg h1 span {
    background: -webkit-linear-gradient(45deg, #BB37BB, #fda97b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formLeft .imageBox {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(45deg, #BB37BB, #FDA97B);
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.formLeft .imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    z-index: 5;

}

.formLeft .imageBox .editIco {
    z-index: 2;
    position: absolute;
    bottom: 7px;
    right: 6px;
    background: linear-gradient(45deg, #BB37BB, #FDA97B);
    border-radius: 50%;
    padding: 2px 6px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.103);
    cursor: pointer;
}

.formLeft .imageBox::before {
    content: "Upload Picture";
    position: absolute;
    top: 40%;
    left: 11%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    z-index: -1;
}

.formLeft .imageBox .editIco:active {
    scale: 0.9;
}

.profile .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 40px;
    flex-wrap: wrap;
}

.profile .form .formLeft,
.formRight {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 44%;
    gap: 15px 0;
}

.inputfields {
    width: 90%;
}

.inputfields input {
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    padding: 14px 10px;
    border-radius: 50px;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.041);
    height: 100%;
    border: 0.5px solid #fff;
    transition: 0.3s ease;
    font-size: 16.5px;
}

.inputfields input:focus {
    border: 0.5px solid #FDA97B;
}

.inputfields select {
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 50px;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.041);
    height: 100%;
    border: 0.5px solid #fff;
    transition: 0.3s ease;
    font-size: 16.5px;
}

#updateDetails {
    background: linear-gradient(45deg, #fda97b, #BB37BB);
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.103);
    cursor: pointer;
}

#updateDetails:hover {
    background: linear-gradient(45deg, #BB37BB, #fda97b);
}

#updateDetails:active {
    scale: 0.9;
}

@media only screen and (max-width: 895px) {
    .profile .form {
        flex-direction: column;
        gap: 25px 0;
    }

    .profile .form .formLeft,
    .formRight {
        width: 100%;
    }
}

@media only screen and (max-width: 522px) {
    .inputfields {
        width: 100%;
    }

    .profile {
        padding: 10px 7px;
    }

    .profile .form .formLeft,
    .formRight {
        padding: 20px 7px;
    }

    .inputfields input {
        padding: 10px;
        font-size: 16px;
    }

    .inputfields select {
        padding: 10px;
        font-size: 16px;
    }

    .profile .welMsg h1 {
        font-size: 29px;
        line-height: 29px;
    }
}

.inputfields textarea {
    padding: 10px 6px;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 100%;
    resize: none;
    background-color: #fff;
    font-size: 16px;
    color: #000;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.041);
    height: 150px;
}

.inputfields textarea::placeholder {
    color: #000;
}

.profileMain {
    margin-top: 110px;
    position: relative;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    gap: 0 10px;
}

.sideBar {
    margin-top: 25px;
    position: relative;
    width: 200px;
    height: 100%;
    background: #fff;
    padding: 6px 0;
}

.sideBar .sidebaritems {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px 0;
}

.sideBar .sidebaritems .sidebarElem {
    display: flex;
    padding: 10px;
    gap: 0 15px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.sideBar .sidebaritems .sidebarElem h5 {
    font-weight: 400;
}

.sideBar .sidebaritems .sidebarElem i {
    background: -webkit-linear-gradient(45deg, #BB37BB, #fda97b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.PerDets {
    background: #00000009;
    padding: 25px 30px;
    display: flex;
    gap: 0 20px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
}

.PerDets .profileCard,
.otherDets {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.PerDets .otherDets {
    flex-basis: 57%;
    align-items: center;
}

.otherDets .bioSec {
    box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.09);
    border-radius: 21px;
    padding: 10px 15px;
    padding-bottom: 30px;
    background: #fff;
    margin-bottom: 17px;
}

.otherDets .bioSec a {
    text-decoration: none;
}

.otherDets .bioSec a h4 {
    margin-top: 15px;
    font-weight: 500;
}

.otherDets .bioSec h3 {
    border-bottom: 1px solid #e7e7e7;
}

.otherDets .bioSec .biocontent {
    margin-top: 10px;
    line-height: 21px;
}


.CreatePostBtn {
    width: 80%;
}

.otherDets .CreatePostBtn button {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.055);
    border-radius: 30px;
    padding: 10px 30px;
    background: linear-gradient(45deg, #bb37bbe1, #FDA97B);
    box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.116);
}

.profileCard .ProMoreDets {
    width: 100%;
}

.profileCard .ProMoreDets button {
    width: 70%;
    background: linear-gradient(45deg, #bb37bbe1, #FDA97B);
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.055);
    border-radius: 30px;
    padding: 7px 0;
    margin-top: 5px;
    box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.151);
    cursor: pointer;
}

.profileCard .cen {
    border: none;
    text-align: center;
}

.PerDets .profileCard {
    box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.09);
    border-radius: 21px;
    padding: 8px 15px;
    flex-basis: 40%;
    background: #fff;
    align-items: center;
}

.PerDets .profileCard .profileImg {
    width: 180px;
    height: 180px;
    background: linear-gradient(45deg, #BB37BB, #fda97b);
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
}

.PerDets .profileCard .profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profileCard .ProMoreDets {
    border-bottom: 1px solid #e7e7e7;
}

.profileCard .cen {
    border: none;
    text-align: center;
}

.profileCard .ProMoreDets h1 {
    text-align: center;
    font-size: 29px;
    text-transform: capitalize;
    background: -webkit-linear-gradient(45deg, #a02ea0, #ff9257);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.profileCard .ProMoreDets h3 {
    font-weight: 400;
    font-size: 17px;
}

.toggleSideBar {
    display: none;
}

.sideBar {
    transition: 0.3s ease;
}

.secondSide {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.secondSide a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondSide a h5 {
    font-weight: 400;
    color: #000;
}

.secondSide a i {
    background: -webkit-linear-gradient(45deg, #BB37BB, #fda97b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.sec {
    display: none;
}

@media only screen and (max-width: 944px) {
    .sideBar {
        margin-top: 17px;
        overflow: hidden;
        width: 50px;
        z-index: 22;
    }

    .toggleSideBar {
        display: block;
        border: none;
        outline: none;
        width: 100%;
        background: linear-gradient(45deg, #ff9257, #a02ea0);
        border-radius: 10px;
        color: #ffff;
        padding: 4px;
        cursor: pointer;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 854px) {
    .profileMain {
        padding: 10px 8px;
    }

    .PerDets .otherDets {
        flex-basis: 95%;
    }

    .PerDets {
        gap: 20px 0;
        padding: 20px 9px;
    }

    .PerDets .profileCard {
        flex-basis: 95%;
    }
}

@media only screen and (max-width: 462px) {
    .PerDets .otherDets {
        flex-basis: 100%;
    }

    .sideBar {
        display: none;
    }

    .sec {
        display: block;
    }

    .PerDets {
        gap: 20px 0;
        padding: 10px 9px;
    }

    .PerDets .profileCard {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .profileMain {
        gap: 0 4px;
        padding: 10px 4px;
    }

    .sideBar .sidebaritems .sidebarElem {
        gap: 0 10px;
    }

    .PerDets .profileCard {
        padding: 10px 8px;
    }

    .otherDets .bioSec {
        padding: 10px 8px;
    }

    .PerDets .profileCard .profileImg {
        width: 130px;
        height: 130px;
    }

    .profileCard .ProMoreDets h1 {
        font-size: 23px;
    }

    .profileCard .ProMoreDets h3 {
        font-weight: 400;
        font-size: 14.4px;
    }

    .profileCard .ProMoreDets button {
        font-size: 16px;
        padding: 6px 0;
    }

    .otherDets .bioSec .biocontent {
        margin-top: 10px;
        line-height: 21px;
        font-size: 14px;
    }

    .otherDets .bioSec a h4 {

        font-size: 14.5px;
    }

    .otherDets .CreatePostBtn button {
        margin-top: -5px;
        padding: 7px 0;
    }
}

.profile-edit {
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px 0;
    align-items: center;
}

.profile-edit .image-edit {
    width: 70%;
    display: flex;
    justify-content: center;
}

.profile-edit .image-edit .image-div {
    position: relative;
}

.profile-edit .image-edit img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.267);

}

.profile-edit .image-edit .editIco {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 17px;
    right: 30px;
    border-radius: 50%;
    background: -webkit-linear-gradient(45deg, #BB37BB, #fda97b);
}

.profile-edit .info-edit {
    width: 70%;
    background: #f8f8f8;
    padding: 20px 10px;
    border-radius: 20px;

}

.profile-edit .info-edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-edit .info-edit form input {
    margin-bottom: 18px;
    border: none;
    outline: none;
    background: #fff;
    padding: 15px 7px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.031);
    font-size: 16px;
    color: #000;
    transition: 0.3s ease;
}

.profile-edit .info-edit form input:focus {
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.081);
}

.profile-edit .info-edit form label {
    font-size: 16px;
    margin-left: 4px;
    margin-bottom: 5px;
    color: #4e4e4e;
    font-weight: 500;
}

.profile-edit .info-edit form textarea {
    margin-bottom: 18px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px 7px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.031);
    font-size: 16px;
    color: #000;
    transition: 0.3s ease;
    height: 200px;
    resize: none;
}

.profile-edit .info-edit form textarea:focus {
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.081);
}

.profile-edit .info-edit form select {
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.031);
    font-size: 16px;
    transition: 0.3s ease;
    color: #000;
    margin-bottom: 18px;
}

.profile-edit .info-edit form select:focus {
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.081);
}

.profile-edit .info-edit form button {
    margin: 18px 0;
    border: none;
    outline: none;
    background: -webkit-linear-gradient(45deg, #BB37BB, #fda97b);
    padding: 15px 7px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.031);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.profile-edit .info-edit form button:hover {
    background: -webkit-linear-gradient(45deg, #fda97b, #BB37BB);
}

@media only screen and (max-width: 600px) {
    .profile-edit .image-edit {
        width: 100%;
    }

    .profile-edit .info-edit {
        width: 100%;
    }

    .profile-edit {
        padding: 20px 10px;
    }

    .profile-edit .info-edit form input {
        padding: 12px 7px;
        font-size: 15px;
    }

    .profile-edit .info-edit form label {
        font-size: 15px;
    }

    .profile-edit .info-edit form textarea {
        font-size: 15px;
    }
}